<%= provide(:title, "About") %>
<h1>About Volunteer Versus</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Volunteering clubs have typically used spreadsheets in order to manage records; that's no good! Also, while many people have asked such questions as, "Does Lorem have more volunteers than Ipsum" or "Did Bob volunteer more than Alice?" seeing exactly who beats who in stats is not as easy as it should be.
    </p>
    <p>
      Volunteer Versus aims to bring competition to volunteering, while making managing records for volunteering hours easier. On this site, it is easy to see who volunteers the most and is in the most groups, for example. Also, through a web interface, volunteering club officers can set up events that people (AKA the users of the site) can attend. Afterwards, officers can simply check off people to credit them with hours!
    </p>
  </div>
</div>
