<%= provide(:title, "Contact") %>
<h1>Contact</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      Have any questions about the app? Interested in chatting? <a href="mailto:shafqat.dulal@gmail.com" target="_blank">Send an email</a> to get your questions answered!
    </p>
  </div>
</div>
