<h1>Volunteer Versus</h1>

<p>Hello <%= @user.name %>,</p>

<p>
  Congratulations on signing up for Volunteer Versus!
  To activate your account, click on the link below.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
