#admin-event-buttons li {
    display: inline-block;
}

#admin-event-buttons {
    padding: 0;
    display: table;
    margin: 40px auto;
}

#admin-event-buttons li:nth-child(2) {
    margin-left: 100px;
}
