<li>
  <%= gravatar_for attendee, size: 50 %>
  <%= link_to attendee.name, attendee %>
  <% if current_user.admin_of?(group) %>
    <%= link_to "Check off", attendance_path( attendee.attendance_for(@event), attendance: { checked: true }), method: :put %>
    <%= link_to "Advanced edit", edit_attendance_path(attendee.attendance_for(@event)) %>
  <% end %>
</li>