<div class="attendance-actions">
  <div id="attendance-form">
    <% if !@event.has_attendee?(current_user) %>
      <%= render 'attend' %>
    <% else %>
      <%= render 'leave' %>
    <% end %>
  </div>
</div>
