<%= provide(:title, "Attending users!") %>

<h1>All the people attending <%= @event.name %>.</h1>

<%= render partial: 'attendances/attendee', collection: @attendees, locals: { group: @group, show_admin_tools: @show_admin_tools } %>